@use "variables" as v;

.page-footer{
    background-color: #715B4B;
    display: flex;

    &__wrapper{
        margin:8rem  auto  27.1rem auto;
        display: flex;
        justify-content: space-between;
    }
    &__column{
        width: 44.36%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & p{
            color: #F6F6F6;
        }
    }
    &__ul{
        & li{
            margin-bottom: .9rem;
            list-style-type: none;
            &:last-child{
                margin-bottom: 0;
            }
        }
        & a{
            @include v.text-styles(1.6rem ,#F6F6F6 )
        }
    }
    &__link-logo{
           margin-right: 1.8rem;
        & a:last-child{
            margin-right: 0;
        }
    }
}