@use "variables" as v;

.page-header{
    margin-bottom: 16rem;
    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 81%;
        margin: 2.05rem auto;
    }

    &__column{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        @include v.text-styles(1.6rem); 
        margin-right: 5vw;
        list-style-type: none;
        &:last-child{
            margin-right: 0;
        }
    }
    &__logo{
        width: 8.6rem;
        height: 8.6rem;
        background-image: url(../../img/logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 3rem;
        margin-left: 3rem;
    }
    &__home-link{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    &__greeting{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: .1rem solid black;
        border-bottom: .1rem solid black;
    }
    &__greeting-photo{
        width: 49.9%;
        height: auto;
        background-image: url(../../img/head-photo.png);
        background-size: cover;
        background-position:  center;
        background-repeat: no-repeat;
    }
    &__heading-info{
        width: 50.1%;
        min-height: 69.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 2.56%;
    }
    &__h1{
        font-family: v.$title-font-family;
        font-size: v.$title-font-size;
        font-style: normal;
        font-weight: 400;
        color: v.$title-color;
        margin: 0;
        margin-top: 1.7rem;
        margin-bottom: 4rem;
        line-height: 5.76rem;


        &~.page-header__text-p{
            margin-bottom: 7rem;
        }
    }
    &__more-btn{
        margin-bottom: 9.4rem;
    }
    &__social-links{
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        margin-right: 19.7%;
        min-width: 23.4%;

        
    }
    
}
