$title-font-family: "Tenor Sans", serif;
$title-font-size: 4.8rem;
$title-color: #57463A;

$text-font-family: "Open Sans Light", sans-serif;
$text-font-size: 1.8rem;
$text-color: #323232;

@mixin text-styles($size: 1.8rem, $color:#323232){
    font-family: $text-font-family;
    font-weight: 300;
    line-height: 2.4rem;
    font-size: $size;
    color: $color
}

@mixin heading-styles($size: 4.8rem, $color:#57463A){
    font-family: $title-font-family;
    font-weight: 400;
    line-height: 5.76rem;
    font-size: $size;
    color: $color
}

